@font-face {
  font-family: 'JetBrains-Mono-Medium';
  src: url('/fonts/JetBrains-Mono-Medium.ttf.woff') format('woff'),
  url('/fonts/JetBrains-Mono-Medium.ttf.svg#JetBrains-Mono-Medium') format('svg'),
  url('/fonts/JetBrains-Mono-Medium.ttf.eot'),
  url('/fonts/JetBrains-Mono-Medium.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

$width-mobile: 75%;
$width-tablet: 20rem;
$width-desktop: 22rem;

$font: 'JetBrains-Mono-Medium';

$green: #A5FFAF;
$light: #CECCD4;
$gray: #57565D;
$dark: #24232A;
$darker: #18171F;
$black: #151515;


* {
  font-family: $font;
  margin: 0;
  padding: 0;
}

::-moz-selection {
  color: $black;
  background: $green;
}

::selection {
  color: $black;
  background: $green;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(#151515, #09090B);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .container {
    min-width: $width-mobile;
    margin-inline: 8rem;
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  .container {
    min-width: $width-tablet;
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    min-width: $width-tablet;
  }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) {
  .container {
    min-width: $width-desktop;
  }
}

.inner-box {
  width: 100%;
  padding-inline: 1.5rem;
  border-radius: 0.125rem;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-copy {
  cursor: pointer;
  -webkit-transition: .1s;
  transition: .1s;
}

.range {
  -webkit-appearance: none;
  height: 0.5rem;
  background-color: $darker;
  outline: none;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: solid 2px $light;
    background: $light;
    cursor: pointer;
    -webkit-transition: .1s;
    transition: .1s;
  
    &:hover {
      border-color: $green;
      background-color: $darker;
    }
  }

  &::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: solid 2px $light;
    background-color: $light;
    cursor: pointer;
    -webkit-transition: .1s;
    transition: .1s;
  
    &:hover {
      border-color: $green;
      background-color: $darker;
    }
  }

  &::-moz-range-progress {
    height: 0.375rem;
    background-color: $green;
  }

  &::-moz-range-track {
    height: 0.375rem;
    background-color: $darker;
  }
}

.checkbox-group {
	display: flex;
	align-items: center;
}
.checkbox {
  width: 16px;
  height: 16px;
  accent-color: $green;
  margin-right: 1.25rem;
}

.strength-container {
  padding-inline: 1.5rem;
  border-radius: 0.125rem;
  margin-block: 1.5rem 1rem;
}

.clear-btn {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.btn {
  border: solid 2px $green;
  border-radius: 0.125rem;
  background-color: $green;
  color: $black;
  -webkit-transition: .1s;
  transition: .1s;
}
.btn:hover {
  cursor: pointer;
  background-color: $dark;
  color: $green;
}
.btn:focus {
  outline: none;
}







.gray {
  color: $gray;
}

.bg-dark {
  background-color: $dark;
}
.hover-bg-dark:hover {
  background-color: $dark;
}

.bg-darker {
  background-color: $darker;
}

.light {
  color: $light;
}
.hover-light:hover {
  color: $light;
}

.green {
  color: $green;
}
.bg-green {
  background-color: $green;
}

.font-xs {
  font-size: 0.75rem;
}
.font-sm {
  font-size: 0.875rem;
}
.font-md {
  font-size: 1rem;
}
.font-lg {
  font-size: 1.25rem;
}
.font-xl {
  font-size: 1.5rem;
}
.font-xxl {
  font-size: 1.75rem;
}

.my-8 {
  margin-block: 0.5rem;
}
.my-16 {
  margin-block: 1rem;
}
.py-16 {
  padding-block: 1rem;
}
.w-full {
  width: 100%;
}
